@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    ::before,
    ::after {
        font-size: 14px;

        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        border-color: theme('borderColor.DEFAULT', currentColor);
    }

    code,
    kbd,
    samp,
    pre {
        font-family: theme(
            'fontFamily.mono',
            ui-monospace,
            SFMono-Regular,
            Menlo,
            Monaco,
            Consolas,
            'Liberation Mono',
            'Courier New',
            monospace
        ); /* 1 */
        font-size: 12px;
    }

    a {
        color: blue;
        text-decoration: inherit;
    }

    img {
        margin: auto;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }
}
